[submodule "conf/vim/bundle/syntastic"]
	path = conf/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "conf/vim/bundle/hexmode"]
	path = conf/vim/bundle/hexmode
	url = https://github.com/fidian/hexmode.git
[submodule "conf/vim/bundle/matchit"]
	path = conf/vim/bundle/matchit
	url = https://github.com/benjifisher/matchit.zip.git
[submodule "conf/vim/bundle/markdown"]
	path = conf/vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "src/ansi"]
	path = src/ansi
	url = https://github.com/fidian/ansi.git
[submodule "conf/vim/bundle/tcomment"]
	path = conf/vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "conf/vim/bundle/xterm-color-table.vim"]
	path = conf/vim/bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "src/mo"]
	path = src/mo
	url = https://github.com/tests-always-included/mo.git
[submodule "src/gg"]
	path = src/gg
	url = https://github.com/fidian/gg.git
[submodule "conf/vim/bundle/typescript-vim"]
	path = conf/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "conf/vim/bundle/vim-javascript-syntax"]
	path = conf/vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "src/git-squash"]
	path = src/git-squash
	url = https://github.com/jnothman/git-squash.git
[submodule "conf/vim/bundle/vim-grammarous"]
	path = conf/vim/bundle/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous.git
[submodule "conf/vim/bundle/vim-terraform"]
	path = conf/vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "conf/vim/bundle/tsuquyomi"]
	path = conf/vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
